{% extends "base.html" %}

{% block content %}


<div id="wrapper">
				

				<!-- Main -->
					<div id="main">
						


						<!-- Post -->
						<div class="mainpost" ></div>
						
					

						<!-- Pagination -->
						<ul class="actions pagination">
							<li><a href="" class="disabled button big previous">Previous Page</a></li>
							<li><a href="#" class="button big next">Next Page</a></li>
						</ul>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">
						<form action="" method="POST" >
							{% csrf_token %}{{ form.as_p }} 
								 <input type="submit" name="submit" value="Найти" placeholder="Поиск"/>
								
							<div>
							<p>  </p>
						
							{% csrf_token %}{{ sortform.as_p }}<input type="submit" name="submit" value="Сортировать" placeholder="Поиск"/>
						</div>
						</form>
						<!-- Posts List -->
							<section>
								<ul class="posts minipost">
									
								</ul>
								<div style="text-align: center; width: 400px;">
									<p>реклама</p>
									<a href="{{siteurl}}"><marquee behavior="alternate" direction="left"><h3>{{title}}</h3></marquee></a>
									<a href="{{siteurl}}"><img src="http://127.0.0.1:8000/media/{{img}}" alt="" style="height: 600px; width: 400px;"/></a>
									<a href="{{siteurl}}"><marquee behavior="alternate" direction="left"><h3>{{title}}</h3></marquee></a>
									<p>реклама</p>
								</div>
							</section>

					

					</section>

			</div>
			<script>

                $(document).ready(function(){
						$.get(`http://127.0.0.1:8000/api/post/?search={{aiman}}&ordering={{sort}}`, function(data, status){
							for(let i=0;i<(data.count);i++){
								let maindiv = document.createElement('div');
								let minili = document.createElement('li');
								let author = data.results[i].user_info.username;
								maindiv.className="post";
			
								maindiv.innerHTML=`
								<article class="post">
									<header>
										<div class="title">
											<h2><a href="http://127.0.0.1:8000/single_post/${data.results[i].id}/${data.results[i].title}">${data.results[i].title} </a></h2>
											<p></p>
										</div>
										<div class="meta">
											<time class="published">${data.results[i].date_time} </time>
											<a href="http://127.0.0.1:8000/${data.results[i].user_info.username}/profile/" class="author"><span class="name">${data.results[i].user_info.first_name} </span><img src="${data.results[i].user_info.avatar} " alt="" /></a>
										</div>
									</header>
									<a href="http://127.0.0.1:8000/single_post/${data.results[i].id}/${data.results[i].title}" class="image featured"><img src="${data.results[i].image} " alt="" /></a>
									
									<footer>
										<ul class="actions">
											<li>${data.results[i].text}</li>

											<div class="like">
							
							<span id='button${data.results[i].id}'></span>
								
							<span id="count${data.results[i].id}"></span>
							</div> 
											<table>
									
					
										
									<tr><td>
									<ul id='post${data.results[i].id}'></ul></td></tr>
								
								</table>
										
										
									</footer>
								</article>
								
								`
								minili.innerHTML=`
											<article>
												<header>
													<h3><a href="http://127.0.0.1:8000/single_post/${data.results[i].id}/${data.results[i].title}">${data.results[i].title}</a></h3>
													<time class="published">${data.results[i].date_time}</time>
												</header>
												<a href="http://127.0.0.1:8000/single_post/${data.results[i].id}/${data.results[i].title}" class="image"><img src="${data.results[i].image}" alt="" /></a>
											</article>
										`
								document.querySelector('.mainpost').append(maindiv)
								document.querySelector('.minipost').append(minili)
								
								const post_id=data.results[i].id;
							$.get(`http://127.0.0.1:8000/${post_id}/getpostcomment/`, function(data, status){
							for(let i=0;i<(data.count);i++){
								let minili = document.createElement('div');
	
								minili.innerHTML=`
								
											<article>
												<table>
													<tr>
														<td><h5><a href="#">${data.results[i].body}</a></h5></td>
														<td><tr><time class="published">${data.results[i].date_time} от </time></tr>
															<tr><a href="http://127.0.0.1:8000/${data.results[i].user_info.username}/profile/" >${data.results[i].user_info.first_name}</a></tr></td>
														</tr>
												
											</article>
										
										`
								document.querySelector(`#post${post_id}`).append(minili)
								
							}  
						})
//----------------------------------


$.get(`http://127.0.0.1:8000/getlike/${post_id}/None`, function(data, status){
									var alllikes=data.count;
									console.log(`none begun count ${alllikes}`);
                
								$.get(`http://127.0.0.1:8000/getlike/${post_id}/{{user.id}}`, function(data, status){
								const votes=data.count;
								const ndata=data;
								
									
								let likecount = document.createElement('div');
								likecount.className = `count${post_id}`;
								likecount.setAttribute("id", `count${post_id}`);
								likecount.innerHTML=`${alllikes}`;
								console.log(`befor creating count ${alllikes}`);
								document.querySelector(`#count${post_id}`).append(likecount);
								
								const likef = document.createElement('span');
								likef.className = `span${post_id}`;
								likef.setAttribute("id", `span${post_id}`);
								if(votes>=1){
									console.log(`if span${votes}`);
								// let likef = document.createElement('span');
	
								likef.innerHTML=`
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
								  </svg>
										`
								// document.querySelector(`#button${post_id}`).append(likef);

									}
									else{
										console.log(`else span ${votes}`);
										// let likef = document.createElement('span');

	
								likef.innerHTML=`
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
									<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
								  </svg>
										`
								// document.querySelector(`#button${post_id}`).append(likef)
									};
									document.querySelector(`#button${post_id}`).append(likef);
								$(`#button${post_id}`).click(function(){
								console.log(`click ${votes}`);
								$.get(`http://127.0.0.1:8000/getlike/${post_id}/{{user.id}}`, function(data, status){
								const votes=data.count;
								const ndata=data;
								// console.log(`click2 ${alllikes}`);

								if(votes>=1){
								for(let i=0;i<(data.count);i++){
								let vote_id = ndata.results[i].id;
								console.log(vote_id)
							
								console.log(`if `)
								var settings = {
								"url": `http://127.0.0.1:8000/api/like/${vote_id}/`,
								"method": "DELETE",
								"timeout": 0,
								"headers": {
									"accept": "application/json",
									"Accept-Language": "ru"
								},
								};
								$.ajax(settings).done(function (response) {
								console.log(response);
								});};
								const votes=0;
								
								let old = document.querySelector(`.count${post_id}`);
								let likecount = document.createElement('div');
								likecount.className = `count${post_id}`;
								
								likecount.setAttribute("id", `count${post_id}`);

								likecount.innerHTML = `${Number(old.innerText)-1}`;
								old.replaceWith(likecount);

								let old1 = document.querySelector(`.span${post_id}`);
								let likef = document.createElement('span');
								likef.className = `span${post_id}`;
								likef.setAttribute("id", `span${post_id}`);
								likef.innerHTML=`
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
									<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
								  </svg>
										`
								old1.replaceWith(likef);





								}
								else{
									console.log(`else allikes ${alllikes}`);
									$.post('http://127.0.0.1:8000/api/like/',{
										vote: 1,
										post: post_id,
										user: '{{user.id}}'
									});
								
									const votes=1;
								let old = document.querySelector(`.count${post_id}`);
								let likecount = document.createElement('div');
								likecount.className = `count${post_id}`;
								
								likecount.innerHTML = `${Number(old.innerText)+1}`;
								old.replaceWith(likecount);


								let old1 = document.querySelector(`.span${post_id}`);
								let likef = document.createElement('span');
								likef.className = `span${post_id}`;
								likef.setAttribute("id", `span${post_id}`);
								likef.innerHTML=`
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
								  </svg>
										`
								old1.replaceWith(likef);
								};
								console.log("конец");
								
						 
                    })
				});
				});


							});	


//-----------------
							}  
						})
					
                });
            </script>
{% endblock %}