{% extends "base.html" %}

{% block content %}
<div id="wrapper">
				<!-- Header -->
				<header id="header">
					
					<h1><a href="{% url 'index' %}">BLOG</a></h1>
					
					<nav class="links">
						<ul>
						
							<li><a href="{% url 'post_add' %}" class="nav-item nav-link">Добавить пост</a></li>	
							<li><a href="{% url 'update' pk=user.id %}" class="nav-item nav-link">Изменить профиль</a></li>
							
						</ul>
					</nav>
				</header>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
						<div class="mainpost" ></div>

						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
								<li><a href="#" class="button big next">Next Page</a></li>
							</ul>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="http://127.0.0.1:8000/media/{{user.avatar}}" alt="" /></a>
								<header>
									<h2>{{user.first_name}}</h2>
									<h4>{{country}}, {{city}}</h4>
									<p>{{user.email}}</a></p>
								</header>
								<!-- <div class="like">
									<button>Like</button>
									<span class="count">0</span>
								  </div> -->
							</section>

						<!-- About -->
						<section class="blurb">
							<h2>Обо мне:</h2>
							
							<p>{{user.description}}</p>
							
						</section>

					</section>

				</div>
		
			<script>

                $(document).ready(function(){
                    $.get(`http://127.0.0.1:8000/{{user.id}}/getuserpost/`, function(data, status){
                        for(let i=0;i<(data.count);i++){
                            let maindiv = document.createElement('div');
							
                            maindiv.className="post";
        
                            maindiv.innerHTML=`
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="http://127.0.0.1:8000/single_post/${data.results[i].id}/${data.results[i].title}">${data.results[i].title} </a></h2>
										<p></p>
									</div>
									<div class="meta">
										<time class="published">${data.results[i].date_time} </time>
									</div>
								</header>
								<a href="http://127.0.0.1:8000/single_post/${data.results[i].id}/${data.results[i].title}" class="image featured"><img src="${data.results[i].image} " alt="" /></a>
								<p></p>
								<footer><ul class="actions">
									${data.results[i].text}
									<table>
									
										<tr><td>
										<ul id='post${data.results[i].id}'></ul></td></tr><tr><td>
									
									<li>	<form action="" method="POST" style="width:900px;" >
												{% csrf_token %}{{ form.as_p }}<input type="hidden" name="post_id" value="${data.results[i].id}"/>
												
												
											</form></li></td></tr></table>

											</footer>
										</article>
							
                            `
                            
									
									
							document.querySelector('.mainpost').append(maindiv);
							let post_id=data.results[i].id;
							$.get(`http://127.0.0.1:8000/${post_id}/getpostcomment/`, function(data, status){
							for(let i=0;i<(data.count);i++){
								let minili = document.createElement('div');
	
								minili.innerHTML=`
								
											<article>
												<table>
													<tr>
														<td><h5><a href="#">${data.results[i].body}</a></h5></td>
														<td><tr><time class="published">${data.results[i].date_time} от </time></tr>
															<tr><a href="#" >${data.results[i].user_info.first_name}</a></tr></td>
														</tr>
												
											</article>
										
										`
								document.querySelector(`#post${post_id}`).append(minili)
								
							}  
						})
					
                
                            
						}  
                    })

					// const likes = document.querySelectorAll('.like');

					// likes.forEach((like) => {
					// const button = like.querySelector('button');
					// const count = like.querySelector('.count');

					// let counter = parseInt(count.textContent);

					// button.addEventListener('click', () => {
					// 	like.classList.toggle('active');
					// 	like.classList.contains('active') ? counter++ : counter--;
					// 	count.textContent = counter;
					// });
					// });

                });
				
            </script>

			{% endblock %}