{% extends "base.html" %}

{% block content %}
<div id="wrapper">
				<!-- Header -->
				<header id="header">
					
					<h1><a href="{% url 'index' %}">BLOG</a></h1>
					
					<nav class="links">
						<ul>
						
							<li><a href="{% url 'post_add' %}" class="nav-item nav-link">Добавить пост</a></li>	
							<li><a href="{% url 'update' pk=user.id %}" class="nav-item nav-link">Изменить профиль</a></li>
							
						</ul>
					</nav>
				</header>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
						<div class="mainpost" ></div>

						

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="http://127.0.0.1:8000/media/{{user.avatar}}" alt="" /></a>
								<header>
									<h2>{{user.first_name}}</h2>
									<h4><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
										<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
									  </svg> {{country}}, {{city}}</h4>
									<p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16">
										<path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882l-6-3.2ZM15 7.383l-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2Z"/>
									  </svg> {{user.email}}</a></p>
								</header>
								
							</section>

						<!-- About -->
						<section class="blurb">
							<h2>Обо мне:</h2>
							
							<p>{{user.description}}</p>
							
						</section>

					</section>

				</div>
		
			<script>

                $(document).ready(function(){
                    $.get(`http://127.0.0.1:8000/{{user.id}}/getuserpost/`, function(data, status){
                        for(let i=0;i<(data.count);i++){
                            let maindiv = document.createElement('div');
							
                            maindiv.className="post";
        
                            maindiv.innerHTML=`
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="http://127.0.0.1:8000/single_post/${data.results[i].id}/${data.results[i].title}">${data.results[i].title} </a></h2>
										<p></p>
									</div>
									<div class="meta">
										<time class="published">${data.results[i].date_time} </time>
									</div>
								</header>
								<a href="http://127.0.0.1:8000/single_post/${data.results[i].id}/${data.results[i].title}" class="image featured"><img src="${data.results[i].image} " alt="" /></a>
								<p></p>
								<footer><ul class="actions">
									${data.results[i].text}
									<table>
									
										<tr><td>
										<ul id='post${data.results[i].id}'></ul></td></tr><tr><td>
									
									<li>	<form action="" method="POST" style="width:900px;" >
												{% csrf_token %}{{ form.as_p }}<input type="hidden" name="post_id" value="${data.results[i].id}"/>
												
												
											</form></li></td></tr></table>

											</footer>
						<div class="like">
							
						<span id='button${data.results[i].id}'></span>
							
						<span id="count${data.results[i].id}"></span>
						</div> 
										</article>
							
                            `
                            
									
									
							document.querySelector('.mainpost').append(maindiv);
							const post_id=data.results[i].id;
							$.get(`http://127.0.0.1:8000/${post_id}/getpostcomment/`, function(data, status){
							for(let i=0;i<(data.count);i++){
								let minili = document.createElement('div');
	
								minili.innerHTML=`
								
											<article>
												<table>
													<tr>
														<td><h5><a href="#">${data.results[i].body}</a></h5></td>
														<td><tr><time class="published">${data.results[i].date_time} от </time></tr>
															<tr><a href="#" >${data.results[i].user_info.first_name}</a></tr></td>
														</tr>
												
											</article>
										
										`
								document.querySelector(`#post${post_id}`).append(minili)
								
										}  
									});
					

								$.get(`http://127.0.0.1:8000/getlike/${post_id}/None`, function(data, status){
									var alllikes=data.count;
									console.log(`none begun count ${alllikes}`);
                
								$.get(`http://127.0.0.1:8000/getlike/${post_id}/{{user.id}}`, function(data, status){
								const votes=data.count;
								const ndata=data;
								
									
								let likecount = document.createElement('div');
								likecount.className = `count${post_id}`;
								likecount.setAttribute("id", `count${post_id}`);
								likecount.innerHTML=`${alllikes}`;
								console.log(`befor creating count ${alllikes}`);
								document.querySelector(`#count${post_id}`).append(likecount);
								
								const likef = document.createElement('span');
								likef.className = `span${post_id}`;
								likef.setAttribute("id", `span${post_id}`);
								if(votes>=1){
									console.log(`if span${votes}`);
								// let likef = document.createElement('span');
	
								likef.innerHTML=`
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
								  </svg>
										`
								// document.querySelector(`#button${post_id}`).append(likef);

									}
									else{
										console.log(`else span ${votes}`);
										// let likef = document.createElement('span');

	
								likef.innerHTML=`
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
									<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
								  </svg>
										`
								// document.querySelector(`#button${post_id}`).append(likef)
									};
									document.querySelector(`#button${post_id}`).append(likef);
								$(`#button${post_id}`).click(function(){
								console.log(`click ${votes}`);
								$.get(`http://127.0.0.1:8000/getlike/${post_id}/{{user.id}}`, function(data, status){
								const votes=data.count;
								const ndata=data;
								// console.log(`click2 ${alllikes}`);

								if(votes>=1){
								for(let i=0;i<(data.count);i++){
								let vote_id = ndata.results[i].id;
								console.log(vote_id)
							
								console.log(`if `)
								var settings = {
								"url": `http://127.0.0.1:8000/api/like/${vote_id}/`,
								"method": "DELETE",
								"timeout": 0,
								"headers": {
									"accept": "application/json",
									"Accept-Language": "ru"
								},
								};
								$.ajax(settings).done(function (response) {
								console.log(response);
								});};
								const votes=0;
								
								let old = document.querySelector(`.count${post_id}`);
								let likecount = document.createElement('div');
								likecount.className = `count${post_id}`;
								
								likecount.setAttribute("id", `count${post_id}`);

								likecount.innerHTML = `${Number(old.innerText)-1}`;
								old.replaceWith(likecount);

								let old1 = document.querySelector(`.span${post_id}`);
								let likef = document.createElement('span');
								likef.className = `span${post_id}`;
								likef.setAttribute("id", `span${post_id}`);
								likef.innerHTML=`
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
									<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
								  </svg>
										`
								old1.replaceWith(likef);





								}
								else{
									console.log(`else allikes ${alllikes}`);
									$.post('http://127.0.0.1:8000/api/like/',{
										vote: 1,
										post: post_id,
										user: '{{user.id}}'
									});
								
									const votes=1;
								let old = document.querySelector(`.count${post_id}`);
								let likecount = document.createElement('div');
								likecount.className = `count${post_id}`;
								
								likecount.innerHTML = `${Number(old.innerText)+1}`;
								old.replaceWith(likecount);


								let old1 = document.querySelector(`.span${post_id}`);
								let likef = document.createElement('span');
								likef.className = `span${post_id}`;
								likef.setAttribute("id", `span${post_id}`);
								likef.innerHTML=`
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
								  </svg>
										`
								old1.replaceWith(likef);
								};
								console.log("конец");
								
						 
                    })
				});
				});


							});	
							//--------------		
						
						
				};  
					});

                });
				
            </script>

			{% endblock %}